# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore build directories
dist/
build/

# Ignore environment variable files
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Ignore compiled files
*.out
*.o
*.class
*.pyc
*.pyo
*.pyd

# Ignore Python cache directories
__pycache__/